.menu-button {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #51535d;
  font-family: inherit;
  font-size: 0.875rem;
  transition: color 0.3s;

  &:hover {
    color: #fff;
  }

  &--active {
    color: #fff;
  }
}
