.form-input {
  display: flex;
  align-items: center;
  background-color: #7676801F;
  padding: 14px;
  border-radius: 16px;
  border: 1px solid #FFFFFF33;
  width: 360px;
  gap: 18px;

  &__input {
    background-color: transparent;
    flex-grow: 1;
    color: #a0a0a0;
    font-size: 14px;
    outline: none;
    border: none;
  }
}
